<%= simple_form_for @people, url: person_path do |p| %>

    <%= submit_tag "Submit The Edited Information", :class => "btn btn-success btn-lg btn-block", :id => "peoplesubmit"  %>

    <div class="overflow form-fields">
        <% if @people.errors.any? %>
            <div id="error_explanation">
                <h6><%= pluralize(@people.errors.count, "error") %> prohibited this person from being saved:</h6>
                <ul>
                    <% @people.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="do_something">
            <div class="field" id="person_place_of_death">
                <%= p.input :incident_url, class: "form-control", label: "Incident URL", hint: "* Link to the District Attorney summary letter on DocumentCloud." %>
            </div>
        </div>

        <div class="do_something">
            <%= p.input :district_attorney_file_number, class: "form-control", label: "District Attorney File Number", hint: "* File number used by the district attorney's office. In the case of the Los Angeles District Attorney's Justice System Integrity Division the first two numbers indicate the year in which the shooting took place." %>
        </div>

        <%= render "people/base_form", p: p %>

        <hr></hr>

        <!-- begin initial data -->
        <h5>Coroner's Office Information</h5>

        <div class="do_something">
            <div class="field" id="person_place_of_death">
                <%= p.input :person_place_of_death, class: "form-control", label: "Person Place Of Death", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_manner">
                <%= p.input :person_manner, class: "form-control", label: "person manner", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_cause_a">
                <%= p.input :person_cause_a, class: "form-control", label: "person cause a", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_cause_b">
                <%= p.input :person_cause_b, class: "form-control", label: "person cause b", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="pperson_cause_c">
                <%= p.input :person_cause_c, class: "form-control", label: "person cause c", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_cause_d">
                <%= p.input :person_cause_d, class: "form-control", label: "person cause d", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_other_significant_causes">
                <%= p.input :person_other_significant_causes, class: "form-control", label: "person_other_significant_cause", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_investigator">
                <%= p.input :person_investigator, class: "form-control", label: "person_investigator", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_dme">
                <%= p.input :person_dme, class: "form-control", label: "person_dme", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_toxicology_status">
                <%= p.input :person_toxicology_status, class: "form-control", label: ":person_toxicology_status", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_case_status">
                <%= p.input :person_case_status, class: "form-control", label: "person_case_status", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_body_status">
                <%= p.input :person_body_status, class: "form-control", label: "person_body_status", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_age">
                <%= p.input :person_age, class: "form-control", label: "person_age", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="in_custody_record_key_number">
                <%= p.input :in_custody_record_key_number, class: "form-control", label: "in_custody_record_key_number", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="coroner_case_number">
                <%= p.input :coroner_case_number, class: "form-control", label: "coroner_case_number", hint: "* Xxxx" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="coroner_police_agency">
                <%= p.input :coroner_police_agency, class: "form-control", label: "coroner_police_agency", hint: "* Xxxx" %>
            </div>
        </div>

        <!--
        <div class="do_something">
            <%#= p.input :person_date_of_death, class: "form-control", as: :date, start_year: Date.today.year - 15, end_year: Date.today.year, order: [:month, :day,  :year], label: "person_date_of_death" %>
        </div>

        <div class="do_something">
            <%#= p.input :person_date_of_birth, class: "form-control", as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, order: [:month, :day,  :year], label: "person_date_of_birth" %>
        </div>
        -->

        <div class="do_something">
            <label class="checkbox-inline">
                <%= p.input :law_enforcement_related, class: "form-control", label: "Law Enforcement Related", hint: "* Xxxx" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
                <%= p.input :officer_involved, class: "form-control", label: "Officer Involved", hint: "* Xxxx" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
                <%= p.input :in_custody, class: "form-control", label: "In Custody", hint: "* Xxxx" %>
            </label>
        </div>

        <hr></hr>

        <%= hidden_field_tag "people_id", @people.id %>

    </div>
<% end %>
