<%= simple_form_for @people, url: people_path do |f| %>

    <%= submit_tag "Submit The Edited Information", :class => "btn btn-success btn-lg btn-block", :id => "peoplesubmit"  %>

    <div class="overflow form-fields">
        <% if @people.errors.any? %>
            <div id="error_explanation">
                <h6><%= pluralize(@people.errors.count, "error") %> prohibited this person from being saved:</h6>
                <ul>
                    <% @people.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="do_something">
            <%= f.input :person_name, class: "form-control", label: "Name" %>
        </div>

        <div class="do_something">
            <div class="field" id="person_gender">
            <%= f.input :person_gender, class: "form-control", label: "person_gender" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_ethnicity">
            <%= f.input :person_ethnicity, class: "form-control", label: "person_ethnicity" %>
            </div>
        </div>

        <!-- begin weapon information -->
        <h5>Firearms or Weapons</h5>

        <div class="do_something">
            <div class="field" id="person_weapon">
                <%= f.input :person_weapon, class: "form-control", label: "General Weapon Carried/Used (handgun)" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_weapon_specific">
                <%= f.input :person_weapon_specific, class: "form-control", label: "Specific Weapon Carried/Used (.357 magnum revolver)" %>
            </div>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :person_unarmed, class: "form-control", label: "Person Unarmed?" %>
            </label>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_armed, class: "form-control", label: "Person Armed?" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :armed_with_firearm, class: "form-control", label: "With Firearm?" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :armed_with_weapon, class: "form-control", label: "With Weapon?" %>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_weapon_recovered, class: "form-control", label: "Weapon Was Recovered" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_pointed_gun_at_officer, class: "form-control", label: "Person Pointed Weapon" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_threatened_officer_with_weapon, class: "form-control", label: "Person Initiated Physical Threat" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :used_vehicle_as_weapon, class: "form-control", label: "Officer Feared Vehicle Was Weapon" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_fired_gun_at_officer, class: "form-control", label: "Person Fired Weapon" %>
                    </label>
                </div>
            </div>
        </div>

        <hr></hr>

        <!-- begin arrest data -->
        <h5>Was An Arrest Made?</h5>
        <div class="do_something">
            <label class="checkbox-inline">
                <%= f.input :person_arrested, class: "form-control", label: "Person Arrested" %>
            </label>
        </div>
        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :person_criminal_case_file_number, class: "form-control", label: "Case Number" %>
            </div>
        </div>
        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :person_charges_filed, class: "form-control", label: "Charges" %>
            </div>
        </div>
        <!-- end arrest data -->

        <!-- begin drugs or alcohol data -->
        <h5>Drugs or Alcohol</h5>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_signs_of_impairment, class: "form-control", label: "Signs of Drugs or Alcohol?" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :marijuana_alone, class: "form-control", label: "Marijuana Was The Only Drug?" %>
                    </label>
                </div>
            </div>
        </div>
        <div class="do_something">
            <div class="field" id="drugs">
            <%= f.input :drugs, class: "form-control", label: "Drugs Present Based On DA/Coroner (Separate With Commas)" %>
            </div>
        </div>
        <!-- end drugs or alcohol data -->

        <!-- begin various factors present -->
        <h5>Factors Present (Check box if true)</h5>

        <div class="do_something">
            <div class="field" id="reason_for_shooting">
                <%= f.input :reason_for_shooting, class: "form-control", label: "Reason For Shooting" %>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_reached_for_waistband, class: "form-control", label: "Reached For Waistband Or Pants" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_ignored_officer_commands, class: "form-control", label: "Ignored Officer Commands" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_grabbed_for_officers_weapon_holster, class: "form-control", label: "Grabbed For Officers Weapon/Holster" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_shot_in_back, class: "form-control", label: "Was Shot In The Back?" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_shot_in_head, class: "form-control", label: "Was Shot In The Head?" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_signs_of_mental_illness, class: "form-control", label: "Signs Of Mental Illness" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_signs_of_gang_affiliation, class: "form-control", label: "Suspected To Be Gang Member" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_fled_by_foot_or_vehicle, class: "form-control", label: "Foot Chase Or Vehicle Pursuit Occurred" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                    <%= f.input :person_hid_hands_from_officer, class: "form-control", label: "Hands Went Missing/Couldn't See Hands" %>
                    </label>
                </div>
            </div>
        </div>
        <!-- end various factors present -->

        <hr></hr>

        <!-- begin redundant fields to corral -->
        <h5>Redundant Fields To Corral</h5>

        <div class="do_something">
            <%= f.input :date_of_incident, class: "form-control", as: :date, start_year: Date.today.year - 15, end_year: Date.today.year, order: [:month, :day,  :year], label: "Date Of Shooting" %>
        </div>

        <div class="do_something">
            <div class="field" id="year_of_incident">
            <%= f.input :year_of_incident, class: "form-control", label: "year_of_incident" %>
            </div>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :on_duty_shooting_case, class: "form-control", label: "Was This An On-Duty Shooting?" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
                <%= f.input :person_killed, class: "form-control", label: "Deceased" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :person_wounded, class: "form-control", label: "Wounded" %>
            </label>
        </div>

        <div class="do_something">
            <%= f.input :district_attorney_file_number, class: "form-control", label: "District Attorney File Number (In LA County it's the J.S.I.D File Number)" %>
        </div>

        <div class="do_something">
            <div class="field" id="officer_police_agency">
            <%= f.input :officer_police_agency, class: "form-control", label: "officer_police_agency" %>
            </div>
        </div>

        <!-- move to incident -->
        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :case_doubled_up, class: "form-control", label: "case_doubled_up" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :person_shot, class: "form-control", label: "person_shot" %>
            </label>
        </div>
        <!-- end redundant fields to corral -->

        <hr></hr>

        <h5>Misc</h5>

        <div class="do_something">
            <div class="field" id="person_media_reports_link">
            <%= f.input :person_media_reports_link, class: "form-control", label: "Link To Media Reports" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :notes, class: "form-control", label: "notes" %>
            </div>
        </div>

        <!-- begin initial data -->
        <h5>Coroner's Office Information</h5>

        <div class="do_something">
            <div class="field" id="person_place_of_death">
                <%= f.input :person_place_of_death, class: "form-control", label: "person_place_of_death" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_manner">
            <%= f.input :person_manner, class: "form-control", label: "person_manner" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_cause_a">
            <%= f.input :person_cause_a, class: "form-control", label: "person_cause_a" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_cause_b">
            <%= f.input :person_cause_b, class: "form-control", label: "person_cause_b" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="pperson_cause_c">
            <%= f.input :person_cause_c, class: "form-control", label: "person_cause_c" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_cause_d">
            <%= f.input :person_cause_d, class: "form-control", label: "person_cause_d" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_other_significant_causes">
            <%= f.input :person_other_significant_causes, class: "form-control", label: "person_other_significant_cause" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_investigator">
            <%= f.input :person_investigator, class: "form-control", label: "person_investigator" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_dme">
            <%= f.input :person_dme, class: "form-control", label: "person_dme" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_toxicology_status">
            <%= f.input :person_toxicology_status, class: "form-control", label: ":person_toxicology_status" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_case_status">
            <%= f.input :person_case_status, class: "form-control", label: "person_case_status" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_body_status">
            <%= f.input :person_body_status, class: "form-control", label: "person_body_status" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="person_age">
            <%= f.input :person_age, class: "form-control", label: "person_age" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="in_custody_record_key_number">
            <%= f.input :in_custody_record_key_number, class: "form-control", label: "in_custody_record_key_number" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="coroner_case_number">
            <%= f.input :coroner_case_number, class: "form-control", label: "coroner_case_number" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="coroner_police_agency">
            <%= f.input :coroner_police_agency, class: "form-control", label: "coroner_police_agency" %>
            </div>
        </div>

        <div class="do_something">
            <%= f.input :person_date_of_death, class: "form-control", as: :date, start_year: Date.today.year - 15, end_year: Date.today.year, order: [:month, :day,  :year], label: "person_date_of_death" %>
        </div>

        <div class="do_something">
            <%= f.input :person_date_of_birth, class: "form-control", as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, order: [:month, :day,  :year], label: "person_date_of_birth" %>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :law_enforcement_related, class: "form-control", label: "law_enforcement_related" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :officer_involved, class: "form-control", label: "officer_involved" %>
            </label>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :in_custody, class: "form-control", label: "in_custody" %>
            </label>
        </div>

        <hr></hr>

        <%= hidden_field_tag "people_id", @people.id %>

    </div>
<% end %>
