<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li><%= link_to 'Home', controller: :home, action: :index %></li>
            <li>Peoples#index</li>
        </ol>
        <h1>Peoples#index</h1>
        <hr></hr>
        <div id="table-container">
            <table class="kpcc-table">
                <tr>
                    <th>Date</th>
                    <th>DA File Number</th>
                    <th>Person Name</th>
                    <th>Edit This Record</th>
                    <th>Delete This Record</th>
                </tr>
                <% @people.each do |person| %>
                    <tr>
                        <% if person.person_date_of_death %>
                            <td><%= person.person_date_of_death.strftime("%m/%d/%Y") %></td>
                        <% else %>
                            <td></td>
                        <% end %>
                        <td><%= person.district_attorney_file_number %></td>
                        <td><%= person.person_name %></td>
                        <td><%= link_to "Edit", edit_person_path(person.id), class: "btn btn-success" %></li></td>
                        <td><%= link_to "Delete", person_path(person.id), class: "btn btn-danger", method: :delete, data: {confirm: "are you sure?"} %></li></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>
