<%= simple_form_for(@incident) do |f| %>

    <%= submit_tag "Submit The Edited Information", :class => "btn btn-success btn-lg btn-block", :id => "incidentsubmit"  %>

    <div class="do_something">
        <div class="field" id="transcribed_status">
            <%= f.input :transcribed_status, collection: ["in-progress", "transcribed", "verified"], label: false, :default => "in-progress", :prompt => " --Select One-- ", class: "form-control", label: "Transcription Status", hint: "Be sure to set status of this incident before saving." %>
        </div>
    </div>

    <div class="overflow form-fields">

        <% if @incident.errors.any? %>
            <div class="invalid">
                <h6><%= pluralize(@incident.errors.count, "error") %> prohibited this transcription from being saved:</h6>
                <ul>
                    <% @incident.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <!-- begin initial data -->
        <h5>Initial Information</h5>

        <%= f.input :incident_url, :as => :hidden, :input_html => { :value => @incident.incident_url }, hint: "* Link to the District Attorney summary letter on DocumentCloud." %>

        <div class="do_something">
            <%= f.input :district_attorney_county, class: "form-control", label: "District Attorney's County", input_html: {value: @incident.split_url["county"]}, hint: "* County of District Attorney's office that reviewed the letter." %>
        </div>

        <div class="do_something">
            <%= f.input :district_attorney_file_number, class: "form-control", label: "District Attorney File Number", input_html: {value: @incident.split_url["file_number"]}, hint: "* File number used by the district attorney's office. In the case of the Los Angeles District Attorney's Justice System Integrity Division the first two numbers indicate the year in which the shooting took place." %>
        </div>

        <div class="do_something">
            <%= f.input :district_attorney_date_of_letter, class: "form-control", as: :date, start_year: Date.today.year - 15, end_year: Date.today.year, order: [:month, :day,  :year], label: "District Attorney Date Of Letter", hint: "* Day, month and year of district attorney letter declining to prosecute." %>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :officer_police_agency, class: "form-control", label: "Law Enforcement Agency", hint: "* The department(s) involved. Separate multiple agencies with commas)" %>
            </div>
        </div>

        <div class="do_something">
            <%= f.input :date_of_incident, class: "form-control", as: :datetime, start_year: Date.today.year - 15, end_year: Date.today.year, label: "Date & Time Of Incident", hint: "* Date and time of the shooting incident" %>
        </div>

        <label class="string optional control-label" style="color: #468849;">Are of the following if true</label>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :on_duty_shooting_case, class: "form-control", label: "Was This An On-Duty Shooting?", hint: "* Check this box if the officer was on-duty at the time of the shooting" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :person_killed, class: "form-control", label: "Was This A Fatal Shooting?", hint: "* Check this box if the shooting killed someone" %>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :multiple_officers, class: "form-control", label: "Were Multiple Officers Involved?", hint: "* Check this box if more than one officer fired their weapon" %>
                    </label>
                </div>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :officer_name_and_badge_number, class: "form-control", label: "Officer Names", hint: "* The officer(s) involved. When available note badge numbers in parentheses. Separate multiple officers with commas) Example: John Smith (#1224), James Doe (#12421)" %>
            </div>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
                <%= f.input :officer_charges_filed, class: "form-control", label: "Charges Filed Against Officer?", hint: "* Check this box if the DA decided to prosecute the shooting" %>
            </label>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :officer_charges_filed_yes_detail, class: "form-control", label: "Charges If Officer Charged", hint: "* If the DA decided to prosecute the shooting, what were the charges filed" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <div class="form-group text optional">
                    <label class="text optional control-label">If No Charges What Was Justification? (Check those that apply)</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_self_defense, class: "form-control", label: "Self Defense", hint: "* DA ruled officer was protecting self" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_defense_of_officers, class: "form-control", label: "Defense Of Officers", hint: "* DA ruled officer was protecting other officers" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_defense_of_civillians, class: "form-control", label: "Defense Of Civillians", hint: "* DA ruled officer was protecting other people" %>
                    </label>
                </div>
            </div>
        </div>

        <div class="do_something">
            <%= f.input :district_attorney_on_scene, class: "form-control", label: "District Attorney On Scene", hint: "* When available, this is the DA that went to the scene of the shooting" %>
        </div>

        <div class="do_something">
            <%= f.input :district_attorney_investigator_on_scene, class: "form-control", label: "District Attorney Investigator On Scene", hint: "* When available, this is the DA Investigator that went to the scene of the shooting" %>
        </div>
        <!-- end initial data -->

        <hr></hr>

        <!-- NEED TO FIGURE OUT THE PEOPLE -->
        <h5>Associated People</h5>
        <label class="string optional control-label" style="color: #468849;">Email ckeller@scpr.org with file number if more than one person shot</label>
        <% if @people.count == 0 %>
            <%= f.simple_fields_for :people, @incident.people.build do |p| %>
                <%= p.input :incident_url, :as => :hidden, :input_html => { :value => @incident.incident_url } %>
                <%= p.input :district_attorney_file_number, :as => :hidden, :input_html => {value: @incident.split_url["file_number"]} %>
                <%= p.input :year_of_incident, :as => :hidden, :input_html => {value: @incident.get_incident_year["file_number"]} %>
                <%= render "people/base_form", f: f, p: p %>
            <% end %>
        <% else %>
            <div class="do_something">
                <% @people.each do |person| %>
                    <% if person.person_name == "" %>
                        <br /><label class="string optional control-label"><%= link_to "You Forgot to Save Details for This Person", edit_person_path(person.id), :target => "_blank" %></label>
                        <%= f.simple_fields_for :people, @incident.people do |p| %>
                            <%= p.input :incident_url, :as => :hidden, :input_html => { :value => @incident.incident_url } %>
                            <%= p.input :district_attorney_file_number, :as => :hidden, :input_html => {value: @incident.split_url["file_number"]} %>
                            <%= p.input :year_of_incident, :as => :hidden, :input_html => {value: @incident.get_incident_year["file_number"]} %>
                            <%= render "people/base_form", f: f, p: p %>
                        <% end %>
                    <% else %>
                        <br /><label class="string optional control-label" style="color: #468849;"><%= link_to "Click to open #{person.person_name} in new tab" , edit_person_path(person.id), :target => "_blank" %></label>
                            <%= f.simple_fields_for :people, @incident.people do |p| %>
                                <%= p.input :incident_url, :as => :hidden, :input_html => { :value => @incident.incident_url } %>
                                <%= p.input :district_attorney_file_number, :as => :hidden, :input_html => {value: @incident.split_url["file_number"]} %>
                                <%= p.input :year_of_incident, :as => :hidden, :input_html => {value: @incident.get_incident_year["file_number"]} %>
                                <%= render "people/base_form", f: f, p: p %>
                            <% end %>
                    <% end %>
                <% end %>
                <!--
                <br /><label class="string optional control-label"><%#= link_to 'Add a person?', new_person_path(@incident.id), :target => "_blank" %></label>
                -->
            </div>
        <% end %>
        <hr></hr>
        <!-- NEED TO FIGURE OUT THE PEOPLE -->

        <!-- begin narrative data -->
        <h5>Factual Information</h5>

        <div class="do_something">
            <%= f.input :general_location_of_incident, class: "form-control", label: "Location Of Incident", hint: "* Be specific when possible, such as street address, block address or city" %>
        </div>

        <div class="do_something">
            <%= f.input :type_of_incident, class: "form-control", label: "Force Used By Officer (In Order Of Use, Separated By Commas)", hint: "* Comma-separated list of \"types of force\" used by officers in an incident, ordered by occurrence. For instance, a value of \"Pepper Spray, Bean Bag Weapon, Shooting\" indicates less-than-lethal force consisting of pepper spray and a bean bag weapon were used prior to deadly force." %>
        </div>

        <div class="do_something">
            <%= f.input :type_of_incident_number, class: "form-control", label: "How Many Uses Of Force (1, 2, 3)", hint: "* How many uses of force did you list above?" %>
        </div>

        <div class="do_something">
            <%= f.input :officer_shots_fired_specific, class: "form-control", label: "Shots Fired In Incident", hint: "* Be specific when possible. Some examples are: 10, more than 50, at least 7" %>
        </div>

        <div class="do_something">
            <%= f.input :led_to_response_category, collection: ["domestic violence", "general disturbance", "implied weapon is present", "lower-level crime", "suicidal/wants to die", "suspicious or inquisitive cop", "traffic violation", "violent/serious crime", "other"], label: false, :default => nil, :prompt => " --Select One-- ", class: "form-control", label: "Categorize What Led To An Officer Response/Shooting", hint: "* This is a general category for what caused the police to respond. For instance \"shots fired\" would be \"implied weapon is present\"" %>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :underlying_crime_leading_to_shooting, class: "form-control", label: "Describe What Led To An Officer Response/Shooting", hint: "* More detailed narrative of what caused police to respond" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :how_situation_escalated, class: "form-control", label: "Describe What Caused Situation to Escalate", hint: "* What led to force being used?" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :what_happened, class: "form-control", label: "Describe What Happened After Force Was Applied", hint: "* What was the outcome of the use of force?" %>
            </div>
        </div>
        <!-- end narrative data -->

        <hr></hr>

        <!-- begin various factors present -->
        <h5>Factors Present</h5>
        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :officer_special_unit, class: "form-control", label: "Officer Special Unit", hint: "* Examples include: \"SWAT,\" \"Multiagency Methamphetamine Enforcement Team,\" \"Major Crimes Task Force\"" %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_serving_warrant, class: "form-control", label: "Officer Serving Warrant", hint: "* Check box if responding officer(s) was serving a warrant" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_on_surveillance, class: "form-control", label: "Officer On Surveillance", hint: "* Check box if responding officer(s) was serving a surveillance" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_routine_patrol, class: "form-control", label: "Officer On Routine Patrol", hint: "* Check box if responding officer(s) was on routine patrol" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_responding_to_call, class: "form-control", label: "Officer Responding to Call", hint: "* Check box if responding officer(s) was called to scene" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_on_undercover, class: "form-control", label: "Officer Undercover", hint: "* Check box if responding officer(s) was undercover" %>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :officer_injured, class: "form-control", label: "Officer Injured", hint: "* Check box if an officer suffered injuries" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :car_stop, class: "form-control", label: "Car Stop", hint: "* Check box if a car stop took place" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :civilian_witnesses, class: "form-control", label: "Civilian Witnesses", hint: "* Check box if civilian witnesses present or interviewed" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :potential_civillian_video, class: "form-control", label: "Potential Civillian Video", hint: "* Check box if there is potential civilian video" %>
                    </label>
                </div>
                <div class="do_something">
                    <label class="checkbox-inline">
                        <%= f.input :potential_police_video, class: "form-control", label: "Potential Police Video", hint: "* Check box if there is potential video from the police department" %>
                    </label>
                </div>
            </div>
        </div>
        <!-- end various factors present -->

        <hr></hr>

        <!-- begin additional data -->
        <h5>Narrative Information &amp; Notes</h5>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :narrative_notes, class: "form-control", label: "Narrative Notes", hint: "* Any additional notes about what happened?" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :conclusion_notes, class: "form-control", label: "Conclusion Notes", hint: "* Any additional notes about the district attorney's conclusion?" %>
            </div>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :autopsy_notes, class: "form-control", label: "Autopsy Notes", hint: "* Any additional notes about the autopsy?" %>
            </div>
        </div>

        <div class="do_something">
            <label class="checkbox-inline">
            <%= f.input :flag_for_followup, class: "form-control", label: "Is This Incident Notable?", hint: "* Check box if something about this incident sticks out and should be reported out further" %>
            </label>
        </div>

        <div class="do_something">
            <div class="field" id="notes">
                <%= f.input :district_attorney_prepared_report, class: "form-control", label: "District Attorney Report Prepared By", hint: "* Who is the DA that signed the document?" %>
            </div>
        </div>
        <!-- end additional data -->

        <% if @incident.transcribed == false %>
            <%= f.input :user_email, :as => :hidden, input_html: {value: @user.email} %>
            <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user_id } %>
        <% else %>
            <% if @incident.verified == false %>
                <%= f.input :verified_by_email, :as => :hidden, input_html: {value: @user.email} %>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="do_something">
                            <div class="field" id="notes">
                                <%= f.input :transcribed, class: "form-control", label: "Transcribed", hint: "* Has this incident been transcribed?" %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="do_something">
                            <div class="field" id="notes">
                                <%= f.input :user_email, class: "form-control", label: "Transcribed By", hint: "* Who transcribed this incident?" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="do_something">
                    <div class="field" id="notes">
                        <%= f.input :user_email, class: "form-control", label: "Transcribed By", input_html: {value: @user.email}, hint: "* Who transcribed this incident?" %>
                    </div>
                </div>
                <div class="do_something">
                    <div class="field" id="notes">
                        <%= f.input :verified_by_email, class: "form-control", label: "Verified By", input_html: {value: @user.email}, hint: "* Who verified this incident?" %>
                    </div>
                </div>
            <% end %>
        <% end %>

        <%= hidden_field_tag "incident_id", @incident.id %>
        <%= hidden_field_tag :redirect_location, "/incidents/#{@incident.id}" %>

    </div>
<% end %>
