<h1>Unverified Statistics</h1>

<ul>
    <li>Incidents transcribed: <%= @transcriptions_count %></li>
    <li>Weapon recovered: <%= @victim_weapon_recovered %></li>
    <li>Defense of civillians: <%= @officer_defense_of_civillians %></li>
    <li>Officer injured: <%= @officer_injured %></li>
    <li>Intoxicated or mentally ill: <%= @victim_intoxicated_or_ill %>
    <li>Flag for followup: <%= @flag_for_followup %></li>
</ul>
