<ol class="breadcrumb">
    <li><%= link_to 'Home', controller: :home, action: :index %></li>
    <li><%= link_to "Edit Incidents", incidents_path() %></li>
    <li>Adding New Incident</li>
</ol>

<div class="row data-visuals">
    <% if flash[:alert] %>
        <div class="warn"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="form">
            <%= render 'newform' %>
        </div>
    </div>
</div>
