<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li><%= link_to 'Home', controller: :home, action: :index %></li>
            <li><%= link_to "View Incidents", incidents_path() %></li>
            <li><%= @incident.district_attorney_file_number %></li>
        </ol>
        <h1>Incidents#show</h1>
        <ul>
            <li><h6><%= link_to @incident.district_attorney_file_number, @incident.incident_url %></h6></li>
            <ul>
                <li><h6>Transcribed by <%= @incident.user_email %></h6></li>
                <li><h6>Verified by <%= @incident.verified_by_email %></h6></li>
            </ul>
            <ul class="list-inline">
                <li><%= link_to "Edit", edit_incident_path(@incident), class: "btn btn-success" %></li>
                <li><%= link_to "Delete", incident_path(@incident), class: "btn btn-danger", method: :delete, data: {confirm: "are you sure?"} %></li>
            </ul>
        </ul>
    </div>
</div>
