<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li>Home</li>
        </ol>
        <h1>Officer Involved - The Application</h1>
        <h3>Welcome <%= @user.email %></h3>
        <% if @user.email == "wcterrill@gmail.com" %>
            <% if @verified.size == 0 %>
                <h6>We haven't verified any incidents.</h6>
            <% else %>
                <h6><%= link_to "Explore details", incidents_statistics_path %> about the <%= @verified.size %> incidents we've verified.</h6>
            <% end %>
        <% elsif @verified.size == 0 %>
            <h6>We haven't verified any incidents. You should transcribe or verify some</h6>
        <% else %>
            <h6><%= link_to "Explore details", incidents_statistics_path %> about the <%= @verified.size %> incidents we've verified.</h6>
        <% end %>
        <h6>Build a new <%= link_to 'json file', dashboard_json_data_path(format: :json) %> file for the <a href="http://projects.scpr.org/officer-involved/explore/">published data exploration tool</a> or <%= link_to 'download a csv file', dashboard_csv_data_path(format: :csv) %> of <a href="https://github.com/SCPR/kpcc-data-team/tree/master/data/kpcc-officer-involved#data-dictionary">selected fields</a>.</h6>
        <h6>Download the full database as a <%= link_to 'json file', all_json_data_path(format: :json) %> or <%= link_to 'a csv file', all_csv_data_path(format: :csv) %>.</h6>
        <h6>Export <%= link_to 'incidents table csv', bak_incident_data_path(format: :csv) %>.</h6>
        <h6>Export <%= link_to 'people table csv', bak_people_data_path(format: :csv) %>.</h6>
        <hr></hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h6>Transcriptions &ndash; We've transcribed
                    <% if "%.2f" % @transcribed_percent == "100.00" %>
                        <span style="color: green"><%= "%.2f" % @transcribed_percent %>%</span>
                    <% else %>
                        <span style="color: red"><%= "%.2f" % @transcribed_percent %>%</span>
                    <% end %>
                of <%= link_to @incidents.size, incidents_path %> incidents.</h6>
                <ul class="list-inline">
                    <% if "%.2f" % @transcribed_percent != "100.00" %>
                        <li><%= link_to "New transcription", incidents_path(), class: "btn btn-info" %></li>
                    <% else %>
                        <li><%= link_to "Verify transcriptions", incidents_path(), class: "btn btn-info" %></li>
                    <% end %>
                </ul>
                <ul>
                    <% @transcribed_scoreboard.each do |user| %>
                        <li><strong><%= user[0] %></strong> has entered <em><%= user[1].size %></em> transcriptions</li>
                    <% end %>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <% if "%.2f" % @transcribed_percent == "0.00" %>
                    <h6>We've haven't transcribed any incidents.</h6>
                <% else %>
                    <h6>Incidents &ndash; We've verified
                        <% if "%.2f" % @verified_percent == "100.00" %>
                            <span style="color: green"><%= "%.2f" % @verified_percent %>%</span>
                        <% else %>
                            <span style="color: red"><%= "%.2f" % @verified_percent %>%</span>
                        <% end %>
                    of <%= link_to @incidents.size, incidents_path %> incidents.</h6>
                    <ul class="list-inline">
                        <% if @user.email == "ckeller@scpr.org" or @user.email == "elarrubia@scpr.org" %>
                            <li><%= link_to "Edit an incident", incidents_path(), class: "btn btn-info" %></li>
                        <% end %>
                    </ul>
                    <ul>
                        <% @verified_scoreboard.each do |user| %>
                            <li><strong><%= user[0] %></strong> has verified <em><%= user[1].size %></em> transcriptions</li>
                        <% end %>
                    </ul>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render "devise/menu/login_items" %>
    </div>
</div>
