<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li>Home</li>
        </ol>
        <h1>Cataloging Officer Involved Shootings</h1>
        <h3>Welcome <%= @user.email %></h3>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5>Progress Statistics</h5>
                <p>There are <%= @incidents.size %> reports in the system and we've transcribed <%= link_to @transcriptions.size, transcriptions_path %> (<%= "%.2f" % @percent %>%) so far</p>
                <ul class="list-inline">
                    <li><%= link_to "New transcription", new_transcription_path(), class: "btn btn-info" %></li>
                    <% if @user.email == "ckeller@scpr.org" or @user.email == "elarrubia@scpr.org" %>
                        <li><%= link_to "Verify transcriptions", transcriptions_path(), class: "btn btn-info" %></li>
                    <% end %>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5>User Statistics</h5>
                <ul>
                    <% @scoreboard.each do |user| %>
                        <li><strong><%= user[0] %></strong> has filed <em><%= user[1].size %></em> transcriptions</li>
                    <% end %>
                </ul>
                <%= render "devise/menu/login_items" %>
            </div>
        </div>
    </div>
</div>
