<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li><%= link_to 'Home', controller: :home, action: :index %></li>
            <li>Verify Transcriptions</li>
        </ol>
        <h1>Transcriptions#index</h1>
        <!--
        <li><%#= link_to "Download All Transcriptions", transcriptions_path(format: :csv), class: "btn btn-info" %></li>
        -->
        <hr></hr>
        <div id="table-container">
            <table class="kpcc-table">
                <tr>
                    <th>DA File Number</th>
                    <th>Transcribed Quantity</th>
                    <th>Transcribed By</th>
                    <th>Transcribed Date</th>
                    <th>Delete</th>
                    <th>Verify</th>
                </tr>
                <% @record_count.each do |this| %>
                    <% if this[1] > 1 %>
                        <tr>
                            <td><%= this[0] %></td>
                            <td><%= this[1] %></td>
                            <% @transcriptions.where(district_attorney_file_number: this[0]).find_each do |obj| %>
                                <td><%= obj.email %></td>
                                <td><%= obj.created_at.strftime("%m/%d/%Y") %></td>
                                <td><%= link_to "Delete", transcription_path(obj), class: "btn btn-danger", method: :delete, data: {confirm: "are you sure?"} %></td>
                                <td><%= link_to "Verify/Edit", edit_transcription_path(obj), class: "btn btn-success" %></td>
                            <% end %>
                        </tr>
                    <% else %>
                        <% @this_record = @transcriptions.find_by(district_attorney_file_number: this[0]) %>
                            <tr>
                                <td><%= this[0] %></td>
                                <td><%= this[1] %></td>
                                <td><%= @this_record.email %></td>
                                <td><%= @this_record.created_at.strftime("%m/%d/%Y") %></td>
                                <td><%= link_to "Delete", transcription_path(@this_record), class: "btn btn-danger", method: :delete, data: {confirm: "are you sure?"} %></td>
                                <td><%= link_to "Verify/Edit", edit_transcription_path(@this_record), class: "btn btn-success" %></li></td>
                            </tr>
                    <% end %>
                <% end %>
            </table>
        </div>
    </div>
</div>
