<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title><%= yield :title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="description" content="#" />
        <meta name="keywords" content="#" />
        <meta name="author" content="89.3 KPCC" />
        <meta property="og:title" content="#" />
        <meta property="og:site_name" content="KPCC" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="#" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="683" />
        <meta property="og:url" content="#" />
        <meta property="og:description" content="#" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="#"/>
        <meta name="twitter:domain" content="http://projects.scpr.org/"/>
        <meta name="twitter:site" content="KPCC"/>
        <meta name="twitter:title" content="#"/>
        <meta name="twitter:description" content="#"/>
        <meta name="twitter:image:src" content="#">
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="http://media.scpr.org/assets/images/icon.png">
        <!-- end meta -->

        <!-- begin css -->
        <link href="http://projects.scpr.org/applications/monthly-water-use/static/cali_water/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://projects.scpr.org/static-files/v3-dependencies/css/jquery-ui.1.10.3.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/applications/monthly-water-use/static/cali_water/css/main-foundation-style-v3.css" rel="stylesheet" type="text/css" media="all" />

        <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag :simple_frame %>
        <%= yield :css %>
        <!-- end css -->

        <!-- begin base scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/vtu6xsq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
        <%= yield :javascripts %>
        <%= yield :header %>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="minimal">
        <div class="kpcc-header">
            <header>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container data-container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h3 id="site-title" ><a href="http://www.scpr.org/">KPCC 89.3</a></h3>
                        </div>
                        <div class="data-share navbar-collapse collapse">
                            <h2 id="document-title" class="text-right"></h2>
                            <!--
                            <ul class="nav navbar-nav navbar-right header-links clearfix">
                                <li class="projects-pledge">
                                    <a href="https://scprcontribute.publicradio.org/" class="pledge-now icon">Contribute to KPCC</a>
                                    <a href="https://scprcontribute.publicradio.org/" target="_blank"><b>Pledge now</b></a>
                                </li>
                                <li class="projects-share">
                                    <div class="share-links clearfix">
                                        <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                                            <a class="facebook icon" href="https://www.facebook.com/sharer/sharer.php?u=http://projects.scpr.org/static/applications/monthly-water-use" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"></a>
                                            <a class="twitter icon" href="http://twitter.com/share?text=Each month, California water suppliers report residential water use.&url=http://projects.scpr.org/static/applications/monthly-water-use"></a>
                                    </div>
                                    <b>Share this</b>
                                </li>
                                <li class="projects-embed">
                                    <a href="javascript:void(0)" class="embed-this icon">Embed This</a>
                                    <a href="javascript:void(0)" target="_blank"><b>Embed This</b></a>
                                </li>
                                <li class="projects-home">
                                    <a href="http://projects.scpr.org/" class="projects-home icon">Projects Home</a>
                                    <a href="http://projects.scpr.org/"><b>All Projects</b></a>
                                </li>
                            </ul>
                            -->
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="container data-container">
            <%= yield %>
            <div class="row kpcc-footer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <footer>
                        <ul class="list-inline">
                            <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
                            <li><a href="http://scpr.org/privacy/">Privacy</a></li>
                            <li><a href="http://scpr.org/web_site_feedback">Website Feedback</a></li>
                            <li><a href="http://scpr.org/">Copyright 2013 &copy; Southern California Public Radio</a></li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
        <!-- end main container -->

        <!-- begin scripts -->
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/jquery-ui.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/jquery.alerts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "simple_app" %>
        <%= yield :javascripts %>

    </body>
    <!-- end body -->

</html>
<!-- end document -->
